<form (ngSubmit)="Submit()"
    class="mt-20 max-w-[29rem] bg-surface-0 dark:bg-surface-800 p-6 shadow rounded-border w-full lg:w-6/12 mx-auto justify-center items-center">
    <div class="text-center mb-8">
        <div class="flex justify-center">
            <img src="assets/icons/favicons/android-chrome-192x192.png" alt="#" height="50" class="mb-4 h-[50px]">
        </div>
        <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">{{ isAuth ? "Вход" : "Регистрация"
            }} в LogTheDay</div>
        <span class="text-surface-600 dark:text-surface-200 font-medium leading-normal">{{ isAuth ? "Нет аккаунта" :
            "Есть аккаунт" }}?</span>
        <a (click)="isAuth=!isAuth" class="font-medium no-underline ml-2 text-sky-400 cursor-pointer">{{ isAuth ?
            "Зарегистрироваться" : "Войти" }}.</a>
    </div>

    <div>
        <label *ngIf="!isAuth" for="name" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Имя<span
                class="text-red-500 text-sm">*</span></label>
        <input *ngIf="!isAuth" id="name" name="name" [(ngModel)]="name" (input)="onInputChange()" type="text"
            placeholder="Имя" pInputText class="w-full mb-6" [required]="!isAuth">

        <label for="email" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">E-mail<span
                class="text-red-500 text-sm">*</span></label>
        <input id="email" name="email" [(ngModel)]="email" (input)="onInputChange()" type="text"
            placeholder="Электронная почта" pInputText class="w-full mb-6" required>

        <label for="password" class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Пароль<span
                class="text-red-500 text-sm">*</span></label>
        <input id="password" name="password" [(ngModel)]="passwordString" (input)="onInputChange()" type="password"
            placeholder="Пароль" pInputText class="w-full mb-6" required>

        <label *ngIf="!isAuth" for="password2"
            class="block text-surface-900 dark:text-surface-0 font-medium mb-2">Повторите пароль<span
                class="text-red-500 text-sm">*</span></label>
        <input *ngIf="!isAuth" id="password2" password2="password2" [(ngModel)]="password2" (input)="onInputChange()"
            name="password2" type="password" placeholder="Повторите пароль" pInputText class="w-full mb-6"
            [required]="!isAuth">

        <div *ngIf="showErrorHint" class="text-red-500 text-sm font-medium mb-6">{{ hintText }}</div>
        <button type="submit" pButton pRipple class="w-full">
            <span *ngIf="showLoading" class="pi pi-spin pi-spinner"></span>
            <span class="pl-2 text-center">{{ showLoading ? "Отправляем..." : submitLabel }}</span>
        </button>
    </div>
</form>